In [4]:
import pandas as pd
import numpy as np
from forex_python.converter import CurrencyRates

c = CurrencyRates()

In [44]:
# reading our transaction history
df = pd.read_csv('transaction_history.csv')
df.index += 1

# forex_python's CurrencyRates.get_rate requires a datetime object
df['Date'] = pd.to_datetime(df['Date'])

# fetch the fx rates
df['FX to EUR'] = df.apply(lambda row: c.get_rate(row['Currency'], 'EUR', row['Date']), axis=1)

# the metric that matters
df['Cash Movement in EUR'] = df['Quantity'] * df['Price'] * df['FX to EUR'] * -1.00

# printing our dataframe
df

,Ticker,Date,Quantity,Price,Currency,FX to EUR,Cash Movement in EUR
1,TSLA,2016-12-14,13,200.60,USD,0.9395,-2450.028100
2,AAPL,2017-02-28,20,136.98,USD,0.9437,-2585.360520
3,ASML,2017-12-03,13,116.55,EUR,1.0000,-1515.150000
4,ALB,2017-03-24,19,105.54,USD,0.9255,-1855.868130
5,TSLA,2017-04-05,7,295.67,USD,0.9365,-1938.264685
6,TSLA,2017-02-08,10,317.19,USD,0.9376,-2973.973440
7,TSLA,2017-09-19,-13,376.57,USD,0.8353,4089.135973
8,TSLA,2017-09-29,14,343.77,USD,0.8470,-4076.424660
9,TSLA,2017-02-11,10,300.00,USD,0.9408,-2822.400000
10,ALB,2017-08-11,-19,138.98,USD,0.8500,2244.527000
11,ASML,2017-09-11,-13,151.00,EUR,1.0000,1963.000000
12,AAPL,2017-11-17,25,170.77,USD,0.8478,-3619.470150
13,TSLA,2018-03-28,11,260.00,USD,0.8066,-2306.876000
14,AAPL,2018-05-29,-45,187.42,USD,0.8652,7297.010280
15,TSLA,2018-07-25,14,299.57,USD,0.8554,-3587.530492
16,TSLA,2018-09-10,19,258.50,USD,0.8642,-4244.518300
17,AAPL,2019-01-18,40,157.00,USD,0.8770,-5507.560000
18,TSLA,2019-06-03,20,278.50,USD,0.8857,-4933.349000
19,AAPL,2019-03-25,-40,188.00,USD,0.8830,6640.160000